@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<b>Amazon Web Services, LLC</b>
<address>
    1200 12th Ave S, <br />
    Seattle, WA 98144<br />
    <abbr title="Phone">P:</abbr>
    Seattle, WA 98144
</address>

<address>
    <strong>Twitter:</strong>   <a href="https://twitter.com/aws_eb">twitter.com/aws_eb</a><br />
    <strong>Blog:</strong> <a href="http://blogs.aws.amazon.com/application-management">blogs.aws.amazon.com/application-management</a><br/>
    <strong>Forum:</strong> <a href="https://forums.aws.amazon.com/forum.jspa?forumID=86">forums.aws.amazon.com/forum.jspa?forumID=86</a>
</address>