@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My ASP.NET Application</h1>
    <p class="lead">Congratulations!, Your AWS Elastic Beanstalk ASP.NET application is now running on your own dedicated environment in the AWS Cloud.</p>
   

    <p>In-Depth Introduction</p>

    <div class="video-responsive">
        <iframe src="https://www.youtube.com/embed/OJVLYPo2T4Y?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <br/>
    <p><a href="https://www.youtube.com/channel/UCd6MoB9NC6uYN2grvUNT-Zg" class="btn btn-primary btn-lg">Watch more &raquo;</a></p>

</div>
<div class="jumbotron">
    <h2><a href="https://elasticbeanstalk-samples-us-east-1.s3.amazonaws.com/FirstSample.zip">Download the source code </a></h2>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>AWS SDK for .NET</h2>
        <p>
            .NET SDK makes it easier for Windows developers to build .NET applications that tap into the cost-effective, scalable, and reliable AWS infrastructure.
        </p>
        <p><a class="btn btn-default" href="http://aws.amazon.com/sdkfornet/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage .NET Environment</h2>
        <p>The Container panel lets you specify application settings. These settings enable greater portability as you move between environments.</p>
        <p><a class="btn btn-default" href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/index.html?create_deploy_NET.container.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>RDS & ASP.NET Identity</h2>
        <p>This sample app comes with RDS database integration with default membership system for ASP.NET</p>
        <p><a class="btn btn-default" href="http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_NET.rds.html">Learn more &raquo;</a></p>
    </div>
</div>