@{
    ViewBag.Title = "#StayAtHome";
}

<div class="jumbotron">
    <h1>#VdiVsVirusHack - Disease Pattern Early Recognition (DPER) [deeper]</h1>
    <p class="lead">This is the web service application of DPER (Disease Pattern Early Recognition) from the Students and Young Engineers Team of #WirVsVirusHack</p>
   

    <p>Welcome</p>

    <div class="video-responsive">
        @*<iframe src="https://www.youtube.com/embed/OJVLYPo2T4Y?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>*@
    </div>
    <br/>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Team</h2>
        <p>
            Andreas Stutz, Benedikt Geib, Janik Ritz, Melanie Wassmer, Kathrin Krote, (DIE ANDEREN NOCH HINZUFÜGEN)
        </p>
        <p><a class="btn btn-default" href="http://aws.amazon.com/sdkfornet/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Big Thanks to the AWS Volunteer Support Team</h2>
        <p>in special to: Pawel Warmuth, Christian Mueller, Ralph Winzinger</p>
        <p><a class="btn btn-default" href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/index.html?create_deploy_NET.container.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Verein Deutscher Ingenieure (VDI) - German Engineering Association</h2>
        <p></p>
        <p><a class="btn btn-default" href="www.vdi.de">Learn more &raquo;</a></p>
    </div>
</div>